* {
    box-sizing: border-box;
}

html {
    height: 90%;
    width: 98%;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    position: relative;
}

#chat {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#messages {
    padding: 10px;
    text-align: start;
    height: 400px;
    overflow: auto;
    border: 1px black solid;
}

input {
    font-size: 15px;
    padding: 10px;
}

button {
    font-size: 15px;
    padding: 10px;
    background-color: #069;
}